<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Spotlight Entertainment Services
    </title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style type="text/css">
        * {
            font-family: 'Roboto', sans-serif;
        }

        body {
            background-image: url('../../Content/images/spotlightbg.jpg');
            background-size: cover;
            background-position-y: 10%;
        }

        .body-content {
            z-index: 1;
            box-shadow: 0px 3px 6px grey;
            background-color: black;
            opacity: 0.95;
            color: white;
            padding-top: 15px;
        }

        div#overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url('../../Content/images/spotlightslanted.svg');
            z-index: -1;
        }

        .navbar {
            background-color: black;
            box-shadow: 0px 0px 6px grey;
        }

        div#brandImage {
            background-image: url('../../Content/images/spotlightbg.jpg');
            height: 32px;
            width: 160px;
            background-position-y: 295px;
            background-position-x: 50%;
            background-size: 180px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div id="overlay"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Spotlight Entertainment Services", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")"><div id="brandImage"></div></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Services", "Index", "Services")</li>
                    <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Spotlight Entertainment Services</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
