@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .well {
        color: #000;
        font-size: 1.25em;
    }

        .well a {
            color: #000;
        }

    .well-alt {
        border-color: rgb(79, 81, 82);
        background-color: rgb(71, 73, 73);
        color: #fff;
    }

        .well-alt a {
            color: #fff;
        }

    .heading {
        font-family: 'Abril Fatface', cursive !important;
    }

    div#videoBox {
        width: 100%;
    }

    .text-bold {
        font-weight: bolder;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('video').on('click', function () {
            this.muted = !this.muted;
        });
    });
    $('#videoBox').on("click", function (e) {
        if (this.muted) {
            this.muted = false;
        }
        else {
            this.muted = true;
        }
    });
</script>
<div class="well well-sm">
    <div class="row">
        <div class="col-lg-4">
            <a name="videoBooths" class="heading h2">Video Booths</a><br />
            Video Booths are a great way to allow your guest to send a congratulatory video on your nuptials, or to say happy birthday. Whether you're having an event, or celebrating a union, video booths are the best way to send your very best.
            <strong><a class="text-bold" href="@Url.Action("Contact", "Home")">Contact Us</a></strong> to book your next event.
        </div>
        <div class="col-lg-8">
            <div id="videoBox">
                <video controls src="~/Content/videos/videobooth.mp4" width="100%" autoplay muted></video>
            </div>
        </div>
    </div>
</div>
<div class="well well-sm well-alt">
    <div class="row">
        <div class="col-lg-8">
            <div id="videoBox">
                <video controls src="~/Content/videos/casinonights.mp4" width="100%" autoplay muted></video>
            </div>
        </div>
        <div class="col-lg-4">
            <a name="casinonNights" class="heading h2">Casino Nights</a><br />
            Casino tables including blackjack, poker and roulette. Lots of fun for everyone.
            <strong><a class="text-bold" href="@Url.Action("Contact", "Home")">Contact Us</a></strong> to book a Casino Night event at a location of your choosing.
        </div>
    </div>
</div>
<div class="well well-sm">
    <div class="row">
        <div class="col-lg-4">
            <a name="photoBooths" class="heading h2">Photo Booths</a><br />
            Touch screen technology, lots of fun props, photo booth attendant, green screen, elegant back drops. Fun for all occasions. Social media uploads included to bring the wanted attention to your event.
            <strong><a class="text-bold" href="@Url.Action("Contact", "Home")">Contact Us</a></strong> for more information.
        </div>
        <div class="col-lg-8">
            <img src="~/Content/images/photobooth.jpg" class="img-responsive" />
            @*<div id="videoBox">
                <video controls src="~/Content/videos/photobooth.mp4" width="100%" autoplay muted></video>
            </div>*@
        </div>
    </div>
</div>
<div class="well well-sm well-alt">
    <div class="row">
        <div class="col-lg-8">
            <img src="~/Content/images/outdoormovies.jpg" class="img-responsive"/>
            @*<div id="videoBox">
                <video controls src="~/Content/videos/outdoormovies.mp4" width="100%" autoplay muted></video>
            </div>*@
        </div>
        <div class="col-lg-4">
            <a name="outdoorMovies" class="heading h2">Outdoor Movies</a><br />
            The excitement of a movie theater experience brought to your backyard with a 144" Movie screen, Surround Speakers and a HD Movie projector.
            <strong><a class="text-bold" href="@Url.Action("Contact", "Home")">Contact Us</a></strong> for more information.
        </div>
    </div>
</div>
<div class="well well-sm">
    <div class="row">
        <div class="col-lg-4">
            <a name="djServices" class="heading h2">DJ Services</a><br />
            PA and Mic setups available for your small meetings/gatherings. Large setups include dual Mics, lapel Mics, lots of DJ lighting, fog machines, light towers and more.
            <strong><a class="text-bold" href="@Url.Action("Contact", "Home")">Contact Us</a></strong> to book your next event.
        </div>
        <div class="col-lg-8">
            <img src="~/Content/images/djservices.jpg" class="img-responsive"/>
            @*<div id="videoBox">
                <video controls src="~/Content/videos/djservices.mp4" width="100%" autoplay muted></video>
            </div>*@
        </div>
    </div>
</div>
<div class="well well-sm well-alt">
    <div class="row">
        @*<div class="col-lg-8">
            <div id="videoBox">
                <video controls src="~/Content/videos/videography.mp4" width="100%" autoplay muted></video>
            </div>
        </div>*@
        <div class="col-lg-12">
            <a name="videography" class="heading h2">Videography</a><br />
            <strong><a class="text-bold" href="@Url.Action("Contact", "Home")">Contact Us</a></strong> to dicuss your videography needs.
        </div>
    </div>
</div>
